<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⑨のpage</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!--这是标题栏-->
    <div id="head">
        <a class="head-link" href="index.html">
            <span class="head-9">⑨</span>
            <span class="head-text">9halfcirno的网页</span>
        </a>
    </div>
    <!--上面是标题栏-->
    <div id="box">
        <div id="page">
            <div id="pageindex">现在还没有page！</div>
            <styles id="pagestyles"></styles>
            <div id="pagejs"></div>
        </div>
    </div>
    <!--用来插入dom-->
    <a class="github-link" href="https://github.com/9halfcirno/9halfcirno.github.io">
        <img class="icon" src="github.png" alt="github-icon">
        <span>9halfcirno.github.io</span>
    </a>
    <script src="loadPage.js?r=<%= Math.random() %>"></script>
    <script src="pageCard.js?r=<%= Math.random() %>"></script>
</body>

</html>