#head {
    /*
    width: 95%;
    height: 48px;*/
    background-color: #E7F3FF;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    border-radius: 15px;
    top: 5px;
    left: 5px;
    right: 5px;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: enterTop 0.9s ease;
}

.textbox {
    /*
    width: 95%;
    height: 48px;*/
    background-color: #E7F3FF;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border - box;
    opacity: 0.64;
    < z - index: 9;

    animation: enteralpha 0.9s linear;
}

#body {
    top: 48px;
    left: 5px;
    right: 5px;
}


.head-link {
    text-decoration: none;
    /* 去掉超链接下划线 */
    display: flex;
    align-items: center;

}

.head-text {
    font-weight: bold;
    /* 加粗文字 */
    font-size: 18px;
    /* 文字大小 */
    color: #09539D;
}

.head-9 {
    font-size: 24px;
    margin-right: 10px;
    color: #38CCFF;
    font-weight: bold;
    animation: spin 2s linear infinite;
    /* 转啊转~ */
}

.bg {
    min - height: 100%;
    margin: 0;
    padding: 0;
    filter: blur(2px);
    object-fit: cover;
    width: 100%;
    height: auto;
    display: inline-block;
    border: none;
    border-radius: 10px;
    animation: enteralpha 0.9s linear;
}

.boxtitle {
    text-decoration: none;
    /* 去掉超链接下划线 */
    display: flex;
    align-items: center;
    color: #00376E font-weight: bold;
    /* 加粗文字 */
    font-size: 18px;
}

.text {
    font-size: 12px;
}

.github-link {
    text-decoration: none;
    /* 去掉超链接下划线 */
    display: flex;
    align-items: center;
    color: #00376E font-weight: bold;
    /* 加粗文字 */
    font-size: 10px;
    position: fixed;
    bottom: 0%;
    right: 0%;

}

.icon {
    width: 25px;
    height: auto;
}

.bugs {
    position: fixed;
    /* 使用绝对定位 */
    width: 100%;
    /* 宽度设置为100%，可以根据需要调整 */
    text-align: center;
    /* 文字居中显示 */
    top: 100%;
    /* 初始位置在屏幕外（下方） */
    transition: top 0.75s ease;
    /* 添加过渡效果，使位置变化更平滑 */
}

.song-player {
    bottom: -72px;
    left: -16px;
    position: fixed;
    animation: enterLeft 1.5s linear;
    border: none;
/*    width: 14450px;
    height: 60px;*/
}

/*动画*/
@keyframes spin {
    from {
        transform: rotate(0deg);
        /* 起始角度 */
    }

    to {
        transform: rotate(360deg);
        /* 结束角度 */
    }
}

@keyframes enteralpha {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.64;
    }
}

@media (orientation: portrait) {
    .bugs {
        top: 100%;
        /* 保持在屏幕外 */
    }
}

/* 横屏时的样式 */
@media (orientation: landscape) {
    .bugs {
        top: 25%;
        /* 移动到屏幕内 */
    }
}

@keyframes enterTop {
    0% {
        top: -10%;
    }

    100% {
        top: 5px;
    }

}

@keyframes enterLeft {
    0% {
        left: -999%;

    }

    60% {
        left: -250px;
    }

    100% {
        left: -16px;
    }

}