#head {
    /*
    width: 95%;*/
    height: 96px;
    top: -50px;
    left: 5px;
    right: 5px;
    background-color: #E0F0FF;
    border-radius: 8px;
    position: fixed;
    z-index: 999;
    animation: headEnter 0.9s ease;
}

#body {
    top: 48px;
    left: 5px;
    right: 5px;
}

.bg {
width: 100%;
height: auto;
top: 0px;
left: 0px;
position: fixed;
border-radius: 4px;
}


.head-link {
    text-decoration: none;
    /* 去掉超链接下划线 */
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.head-text {
    font-weight: bold;
    /* 加粗文字 */
    font-size: 18px;
    /* 文字大小 */
    color: #09539D;
}

.head-9 {
    font-size: 24px;
    margin-right: 10px;
    color: #38CCFF;
    font-weight: bold;
    animation: spin 2s linear infinite;
    /* 转啊转~ */
}

.github-link {
    text-decoration: none;
    /* 去掉超链接下划线 */
    display: flex;
    align-items: center;
    color: #00376E font-weight: bold;
    /* 加粗文字 */
    font-size: 10px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: 990;
}

.icon {
    width: 25px;
    height: auto;
}

.song-player {
    bottom: -72px;
    left: -16px;
    position: fixed;
    width: 225px;
    /*   height: 45px;*/
    animation: enterLeft 1.5s linear;
    border: none;
    /*    width: 14450px;
    height: 60px;*/
}

#box {
  width: 80%; /* 调整宽度为页面宽度的80%，可根据实际需求修改 */
  margin: 0 auto; /* 水平居中 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 添加一个淡淡的阴影增加立体感 */
  border: 1px solid #ccc; /* 增加边框 */
  border-radius: 5px; /* 较小的边框圆角 */
  padding: 20px; /* 增加内部填充 */
  display: flex; /* 使用flex布局以便内部元素更好地排列，可以根据内部元素需求调整 */
  flex-wrap: wrap; /* 允许内部元素换行 */
}

#page {
  min-height: 80vh; /* 使用视口高度的80%作为最小高度，确保页面有一定高度 */
  background-color: #f9f9f9; /* 较浅的背景色 */
  display: grid; /* 使用grid布局来组织内部元素，例如头部、主体等 */
  grid-template - rows: auto 1fr; /* 头部使用自动高度，主体占用剩余空间 */
  grid-template - columns: 1fr; /* 只使用一列 */
  gap: 10px; /* 网格元素之间的间距 */
}

/*动画*/
@keyframes spin {
    from {
        transform: rotate(0deg);
        /* 起始角度 */
    }

    to {
        transform: rotate(360deg);
        /* 结束角度 */
    }
}

@keyframes enteralpha {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.64;
    }
}

@keyframes headEnter {
    0% {
        top: -50%;
    }

    100% {
        top: -50px;
    }

}

@keyframes enterLeft {
    0% {
        left: -999%;

    }

    60% {
        left: -250px;
    }

    100% {
        left: -16px;
    }
}

@keyframes boxEnter {
    0% {
        top: -100%;
    }

    50% {
        top: -100%;
    }

    100% {
        top: -25px;
    }
}